{% extends "layout.njk" %}

{% block header %}

    <a href="/sobre">Sobre</a>
    <a href="/receitas">Receitas</a>
    <a href="/chefs" id="chefs">Chefs</a>

{% endblock %}

{% block content %}

    <div class="cards-chefs">
        {% for chef in chefs %}
            <div class="card-chef">
                <div class="avatar-chef" style="background: url({{chef.avatar_url}}) 50% 50% no-repeat"></div>
                <div class="name-chef">
                    <p>{{chef.name}}</p>
                    <p>{{chef.total_recipes}} receita(s)</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}