<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    {% block head %}
        <title>Foodfy</title>
    {% endblock %}
</head>
<body>

<div class="content">

    <header>
        <div class="logo">
            <img src="/assets/logo.png" alt="Logomarca">
        </div>
        <div class="menu">
            {% block header %}
                <a href="/sobre">Sobre</a>
                <a href="/receitas">Receitas</a>
            {% endblock %}
        </div>
    </header>

    {% block content %} {% endblock %}

</div>
   
    <footer>
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>

    {% block scripts %} {% endblock %}

</body>
</html>