@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.content {
    width: 67.1%;
    margin: 0 auto;
}

/* === HEADER === */

header {
    display: flex;
}

.header-admin {
    background: #111111;
    display: flex;
    align-items: center;
}

.logo {
    margin-top: 3.3%;
}

.logo-admin {
    margin: 1.8% 0 1.8% 16.5%;
}

.menu {
    margin: 3.4% 0 0 8.7%;
}

.menu-admin {
    margin-left: 3.6%;
    display: flex;
}

.menu-admin a {
    text-decoration: none;
    font-size: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.menu-admin a.active {
    font-weight: bold;
}

.menu-admin a:nth-child(2) {
    margin-left: 20%;
}

.menu a {
    font-size: 16px;
    color: #111111;
    text-decoration: none;
    padding-right: 25px;
}

#receitas {
    font-weight: bold;
}

#sobre {
    font-weight: bold;
}

#chefs {
    font-weight: bold;
}

/* === ABOUT === */

.about {
    background: #FBDFDB;
    border-radius: 30px;
    margin-top: 2.7%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-title {
    margin: 12% 18.5% 10.6% 7.3%;
    padding: 30px;
}

.about-title h1 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 3%;
}

.about-title p {
    opacity: 0.7;
    font-size: 18px;
    line-height: 28px;
}

.about-chef {
    padding-top: 50px;
    margin-left: 40%;
}

/* === CARDS === */

.wrapper {
    margin-top: 4.5%;
}

.wrapper h1 {
    font-size: 24px;
    font-weight: bold;
}

.cards {
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5%;
}

.card {
    margin-bottom: 2.7%;
}

.card-image img {
    width: 100%;
    border-radius: 15px;
}

.card-title {
    margin-top: 1.8%;
    margin-bottom: 0.5%;
}

.card-title h1 {
    font-size: 18px;
    font-weight: normal;
    color: #111111;
}

.card-author {
    margin-bottom: 1.8%;
}

.card-author p {
    font-size: 14px;
    color: #777777;
}

/* === SOBRE === */

#content {
    margin-top: 4.6%;
    margin-bottom: 2.1%;
}

#content h1 {
    font-size: 24px;
    color: #111111;
    margin-bottom: 1.8%;
}

#content h2 {
    font-size: 20px;
    color: #111111;
    margin-bottom: 1.8%;
}

#content p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-bottom: 2.7%;
}

/* === FOOTER === */

footer {
    background: #EEEEEE;
    margin-top: 4.5%;
}

footer p {
    padding: 25px;
    font-size: 14px;
    color: #999999;
    text-align: center;
}

/*=== DETAILS ===*/

.details {
    margin-top: 4%;
    margin-bottom: 4%;
}

.details-image img {
    width: 100%;
    border-radius: 15px;
}

.details-title,
.details-author {
    text-align: center;
}

.details-title {
    margin-top: 4%;
    font-weight: bold;
    font-size: 36px;
    color: #111111;
}

.details-title p {
    font-size: 20px;
    color: #777777;
    font-weight: normal;
    margin-top: 15px;
}

.details-author {
    font-size: 20px;
    color: #777777;
}

.title {
    display: flex;
    align-items: center;
    margin-top: 3.1%;
}

.title h2 {
    font-size: 24px;
    color: #111111;
}

.title a {
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    color: #999999;
    text-transform: uppercase;
    margin-left: 0.6%;
    margin-top: 0.6%;
}

.details-ingredients ul,
.details-preparation ul,
.details-information p {
    margin-top: 1.6%;
    list-style-position: inside;
}

.details-ingredients li,
.details-preparation li,
.details-information p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

.content-1.active,
.content-2.active,
.content-3.active {
    display: none;
}

/* CREATE ADMIN FORM */

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.4%;
}

.top h2 {
    font-size: 24px;
    color: #111111;
}

.top button {
    background: #6558C3;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: right;
    padding: 1.4%;
    cursor: pointer;
}

.form {
    position: relative;
}

.form-title {
    margin-top: 2%;
    font-weight: bold;
    font-size: 16px;
    color: #111111;
}

form input,
textarea,
.item select {
    margin-top: 1%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 100%;
    padding: 1.15%;
    font-size: 16px;
    color: #111111;
    box-sizing: border-box;
}

.item select {
    background-color: white;
}

form a {
    font-size: 16px;
    color: #6558C3;
    font-weight: bold;
    display: inline-block;
    margin-top: 1%;
    cursor: pointer;
}

form textarea {
    width: 100%;
    min-height: 257px;
    resize: none;
}

#form-delete {
    position: absolute;
    right: 16%;
    top: .07%;
}

#form-delete button {
    background: #DC4747;
    border-radius: 4px;
    padding: 33%;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

/* ADMIN INDEX */

.index-title  {
    font-size: 24px;
    color: #111111;
    font-family: 'Roboto', sans-serif;
}

.section-index {
    margin-top: 2.7%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5%;
}

.link-index {
    text-decoration: none;
}

.image-index img {
    max-width: 90%;
    border-radius: 8.57px;
}

.content-index p:nth-child(2) {
    margin-top: 0.5%;
}

.content-title {
    font-size: 18px;
    color: #111111;
}

.index-author {
    font-size: 14px;
    color: #777777;
}

.content-index a {
    display: inline-block;
    margin-top: 2%;
    font-weight: bold;
    font-size: 14px;
    color: #6558C3;
    cursor: pointer;
}

.content-author {
    font-size: 14px;
    color: #777777;
    margin-top: 4%;
}

/* ADMIN SHOW */

.show-title {
    display: flex;
    justify-content: space-between;
}

.show-title h2 {
    margin-top: 3.7%;
    font-size: 24px;
    color: #111111;
}

.show-button {
    margin-top: 3.4%;
    background: #6558C3;
    border-radius: 4px;
}

.show-button a {
    display: flex;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    align-items: center;
}

.admin-index-title {
    display: flex;
    align-items: center;
    margin-top: 4.5%;
}

.admin-index-title a {
    margin-left: 5%;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    background-color: #6558C3;
    padding: 8px;
    border-radius: 8px;
}

/* === ADMIN CHEFS INDEX === */

.cards-chefs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-chef {
    display: flex;
    align-items: center;
    margin-top: 10%;
}

.avatar-chef {
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 50%;
}

.name-chef {
    margin-left: 2.4%;
}

.name-chef p {
    font-size: 18px;
    color: #111111;
}

.name-chef p:nth-child(2) {
    font-size: 14px;
    color: #666666;
}

.name-chef a {
    display: inline-block;
    font-size: 14px;
    color: #6558C3;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10%;
}

/* === ADMIN CHEFS CREATE */

.form-chefs {
    margin-top: 3.4%;
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-header h2 {
    font-family: Roboto;
    font-size: 24px;
}

.form-header button,
.chef-header a {
    background: #6558C3;
    padding: 1% 1.4%;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

.chefs-item {
    margin-top: 2%;
}

.chefs-item .input-title {
    font-weight: bold;
    font-size: 16px;
}

.chefs-item input {
    box-sizing: border-box;
}

/* === ADMIN CHEFS SHOW === */

.chef-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4.5%;
}

.chef-header a {
    text-decoration: none;
}

.chef-show {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chef-show-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.chef-show h2 {
    font-size: 36px;
    margin-top: 2.7%;
}

.chef-show p {
    font-size: 20px;
    color: #777777;
    margin-top: 1%;
}

.chef-recipes {
    margin-top: 4.5%;
}

.chef-cards {
    margin-top: 2.7%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.chef-card {
    display: flex;
}

.div-recipe-image img {
    width: 172px;
    height: 80px;
    max-width: 100%;
    border-radius: 8.57px;
}

.div-recipe-title {
    margin-left: 1.4%;
}

.div-recipe-title p:nth-child(1) {
    font-size: 18px;
    color: #111111;
}

.div-recipe-title p:nth-child(2) {
    font-size: 14px;
    color: #777777;
    margin-top: 2.5%;
}

.div-recipe-title a {
    font-size: 14px;
    color: #6558C3;
    text-decoration: none;
    font-weight: bold;
    margin-top: 4%;
    display: inline-block;
}

/* === ADMIN CHEFS EDIT === */


.form-buttons {
    display: flex;
    align-items: center;
}

.form-buttons button:nth-child(1) {
    margin-right: 8%;
    background: #DC4747;
}

.form-buttons button {
    width: 8rem;
    padding: .7rem;
    font-size: 16px;
}